{% extends "layout.html" %}
{% block content %}
<div class="container">
    <p class="title">Transfers</p>
    <div class="row"><br>
        <div class="col center">
            <div class="container">
                <div class="row">
                    <img class="map col-7" src="/static/images/L7.png">
                    <div class="col-5" style="background-color:black;">
                        <p class="description" style="color:white"><b>42nd</b> & <b>14th</b> street are transfer stations for multiple lines</p>  
                        <ul>    
                            <li class="description" style="color:white"><b>42nd:</b> Transfers to all red, blue, and  yellow</li>
                        </ul> <hr class="lineThin"> 
                        <p class="description"  style="color:white">The <b>7</b> & <b>l</b> trains travel east to west and west to east with <b>underground</b> connections to every line </p> 
                        <ul>    
                            <li class="description"  style="color:white"><b>7:</b> On 42nd Street</li>
                            <li class="description"  style="color:white"><b>l:</b> On 14th Street</li>
                        </ul> 
                                       
                    </div> 
                </div> <br><br><br>
            </div> <br>
            <button onclick="location.href='/quiz_home'"class="learnlearn nextPosition L7" role="button">Next &nbsp <i class="fa-solid fa-arrow-right-long"></i> </button>    
            <button onclick="location.href='/blueLine'"class="learnlearn backPosition L7" role="button">Back &nbsp <i class="fa-solid fa-arrow-left-long"></i> </button>  
        </div>
    </div><hr><br> 
    <div class="container">
        <div class="row" >
            <div class= "col-3 col-sm col-md"> <button onclick="location.href='/bouroughs'" class= "blue button-53" role="button"> Boroughs </button></div>
            <div class= "col-3 col-sm col-md"><button onclick="location.href='/street'" class= "red button-53" role="button"> Manhattan </button></div>
            <div class= "col-3 col-sm col-md"><button onclick="location.href='/express'" class= "yellow button-53" role="button"> Local/Express </button></div>
            <div class= "col-3 col-sm col-md"><button onclick="location.href='/line'" class= "green button-53" role="button"> Line</button></div>
        </div>
    </div>
</div> 
    </div> 
        </div>   
        
        
{% endblock %}
