{% extends "layout.html" %}
{% block content %}
<div class="container">
    <p class="title">Streets vs Avenues</p>
    <div class="row"><br>
        <div class="col center">
            <div class="container">
                <div class="row">
                    <img class="col-7" src="/static/images/street.png">
                    <div class="col-5" style="background-color:black;">
                        <p class="description"style="color:white">The street system in Manhattan is composed of a rectangular street grid</p><hr class="lineThin">
                        <ul>    
                            <li class="description"style="color:white">Avenues travel north and south</li>
                            <li class="description"style="color:white">Streets travel west and east  </li>
                            <img class="north col-6" src="/static/images/street.gif">
                            <img class="east col-6" src="/static/images/street.gif">
                        </ul> 
                        <br>            
                    </div> 
                </div> <br><br><br>
            </div> <br>
            <button onclick="location.href='/downtown'"class="learnlearn nextPosition" role="button">Next &nbsp <i class="fa-solid fa-arrow-right-long"></i> </button>    
            <button onclick="location.href='/bouroughs'"class="learnlearn backPosition" role="button">Back &nbsp <i class="fa-solid fa-arrow-left-long"></i> </button>  
        </div>
    </div><hr><br> 
    <div class="container">
        <div class="row" >
            <div class= "col-3 col-sm col-md"> <button onclick="location.href='/bouroughs'" class= "blue button-53" role="button"> Boroughs </button></div>
            <div class= "col-3 col-sm col-md"><button onclick="location.href='/street'" class= "red button-53" role="button"> Manhattan </button></div>
            <div class= "col-3 col-sm col-md"><button onclick="location.href='/express'" class= "yellow button-53" role="button"> Local/Express </button></div>
            <div class= "col-3 col-sm col-md"><button onclick="location.href='/line'" class= "green button-53" role="button"> Line</button></div>
        </div>
    </div>
</div> 
    </div> 
        </div>   
        
        
{% endblock %}